
.mainhome {
    width: 90%;
    margin: 0 auto;
    color: var(--main);
    margin-top: 60px;
}

.placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.falaise {
    height: 225px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
}

h1 {
    font-size: 48px;
    color: white;
    position: absolute;
    font-weight: normal;
    margin: auto 0;
}

.locations {
    display: grid;
    justify-content: space-around;
	grid-template-columns: auto auto auto;
    column-gap: 10px;
    background-color: var(--second);
    border-radius: 25px;
    padding: 0 2vw;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.locate {
    width: 27vw;
    height: 340px;
    margin-bottom: 50px;
    position: relative;
}

.locate a {
    height: 100%;
    display: flex;
    position: relative;
}

.locate img {
    object-fit: cover;
    height: 340px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
}

.locate p {
    color: white;
    padding-left: 20px;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0px;
}


/* *****************************************  Mode tablette  ***************************************** */

@media screen and (max-width: 992px) {

    h1 {
        font-size: 45px;
        padding: 16px;
    }

    .mainhome {
        margin-top: 20px;
    }

    .falaise {
        height: 160px;
    }

    .locate {
        height: 225px;
        width: 40vw;
        margin-bottom: 40px;
    }

    .locate img {
        height: 225px;
    }

    .locations{
        grid-template-columns: auto auto;
    }
}


/* *****************************************  Mode téléphone  ***************************************** */

@media screen and (max-width: 768px) {

    h1 {
        font-size: 24px;
        padding: 16px;
    }

    .placement {
        width: 100%;
        margin: 0 auto;
        align-items: flex-start;
    }

    .falaise {
        height: 111px;
        border-radius: 10px;
    }

    .locate {
        width: 90vw;
        margin-bottom: 20px;
    }

    .locations{
        grid-template-columns: auto;
        background-color: transparent;
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
